.card__like-button {
  margin: 0;
  padding: 0;
  border: none;
  width: 22px;
  height: 19px;
  background-image: url('../../../icons/like.svg');
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: .5;
  transition: opacity .5s ease;
  /* background-color: red; */
}
