.card__delete-button {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent url(../../../icons/Trash_icon.svg);
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 2px 5px 6px 2px rgba(88, 88, 94, 0.2);
}

.card__remove-button:hover {
  opacity: 0.6;
}
