.profile__add-button {
  margin: 0 auto;
  padding: 0;
  width: 214px;
  height: 50px;
  background-color: inherit;
  background-image: url('../../../icons/Vectoricon__add-button.svg');
  background-size: 21px 21px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  border: 2px rgba(255, 255, 255, 1) solid;
  margin-top: 30px;
}

.profile__add-button:hover {

  opacity: .6;
  cursor: pointer;
  transition: opacity .5s ease;
}

@media (max-width: 896px) {
  .profile__add-button {
    background-size: 16px 16px;
    width: 282px;
  }
}
