.profile__edit-button {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  width: 24px;
  height: 24px;
  background-color: inherit;
  background-image: url('../../../icons/Edit_Button.svg');
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px white solid;
  border-radius: 1px;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
  transition: opacity .5s ease;
}

@media (max-width: 896px) {
  .profile__edit-button {
    margin: 28px 13px 0;
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}
